body, input, table, button {
  font: 300 16px/140% 'Roboto', sans-serif
}

body {
  background-color: #121214;
  color: #fff;
}

table {
  border-collapse: collapse;
}

table thead {
  font-size: 14px;
  line-height: 16px;
}

thead th,
tbody td {
  padding: 12px 16px;
}

tbody td {
  border-top: 1px solid #ffffffa1;
  font-size: 13px;
  line-height: 15px;
  color: #c4c4cc;
}

tbody td strong {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

tbody td small {
  font-size: 12px;
  line-height: 16px;
}

tbody td button {
  all: unset;
  color: #9ff9cc;
  font-weight: bold;
  transition: 0.4s;
}

tbody td button:hover {
  cursor: pointer;
  text-decoration: underline;
  transform: scale(1.1);
}